{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block title %}{{ product.name }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="{% static 'products/css/detail_product.css' %}" />
<style>
    
</style>
{% endblock %}

{% block content %}
<div class="content-container">
    <div class="invoice-detail">
        <div class="position-relative">
            <div class="actions">
                <a href="{% url 'products:list_products' %}" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> To list
                </a>
                <a href="{% url 'products:update_product' pk=product.pk %}" class="btn btn-warning">
                    <i class="bi bi-pencil"></i>
                </a>
                <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    <i class="bi bi-trash"></i>
                </a>
            </div>
            <div class="position-absolute top-50 start-50 translate-middle">
                <h3 class="m-0">{{ product.name }}</h3>
            </div>
        </div>
        <div class="row align-items-center mt-4">
            <div class="col-12">
                <div class="info-container">
                    <ul class="nav nav-tabs" id="productInfoTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="description-tab" data-bs-toggle="tab" 
                                    data-bs-target="#description" type="button" role="tab" 
                                    aria-controls="description" aria-selected="false">
                                <i class="bi bi-card-text"></i> Description
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="numbers-tab" data-bs-toggle="tab" 
                                    data-bs-target="#numbers" type="button" role="tab" 
                                    aria-controls="numbers" aria-selected="true">
                                <i class="bi bi-list-ol"></i> Numbers
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="productInfoTabsContent">
                        <div class="tab-pane fade" id="description" role="tabpanel" 
                             aria-labelledby="description-tab">
                            <div class="tab-content-wrapper">
                                <div class="product-details">
                                    <p class="mb-2">
                                        <strong class="h6">Category:</strong> 
                                        <a href="{% url 'products:list_products' %}?category={{ product.category.pk }}" 
                                           class="category-link">
                                           {{ product.category }}
                                        </a>
                                    </p>
                                    <p class="mb-2">
                                        <strong class="h6">Supplier:</strong>
                                        <a href="{% url 'products:list_products' %}?supplier={{ product.supplier.pk }}" 
                                           class="category-link">
                                           {{ product.supplier }}
                                        </a>
                                    </p>
                                    <p class="mb-2"><strong class="h6">SKU:</strong> {{ product.sku }}</p>
                                    <p class="mb-2 text-secondary">
                                        <strong class="h6">Created:</strong> {{ product.created.date }}
                                    </p>
                                </div>
                                <div class="product-image-container">
                                    {% if product.picture_thumbnail %}
                                        <img src="{{ product.picture_thumbnail.url }}" alt="{{ product.name }}" 
                                             class="product-image">
                                    {% else %}
                                        <div class="no-image">No Image</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show active" id="numbers" role="tabpanel" 
                             aria-labelledby="numbers-tab">
                            <div class="d-flex">
                                <div class="product-details">
                                    <p class="mb-2"><strong class="h6">In stock:</strong> {{ product.in_storage_quantity }}</p>
                                    <p class="mb-2"><strong class="h6">Being processed:</strong> {{ product.processing_quantity }}</p>
                                    <div class="border-top border-1 border-dark my-1 w-50"></div>
                                    <p class="mb-2"><strong class="h6">Weight of 1 item in packaging:</strong> {{ product.weight }}</p>
                                    <p class="mb-2"><strong class="h6">Total weight in storage:</strong> {{ product.total_weight }}</p>
                                    <div class="border-top border-1 border-dark my-1 w-50"></div>
                                    <p class="mb-2">
                                        <strong class="h6">
                                            Notify managers when product out of stock:
                                        </strong>
                                        {% if product.to_notify %}
                                            Yes, <strong class="h6">When</strong> < {{ product.min_quantity }}
                                        {% else %}
                                            No
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-top my-4"></div>
        <div>
            {% include 'products/accordions/product_shipments.html' %}
        </div>
    </div>
</div>

{% include 'products/includes/delete_product_modal.html' %}
{% endblock %}

{% block scripts %}
{% include 'products/includes/filter_common_scripts.html' %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var firstTabEl = document.querySelector('#productInfoTabs li:first-child button');
        var firstTab = new bootstrap.Tab(firstTabEl);
        firstTab.show();
    });
</script>
{% endblock %}