{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block title %}Products{% endblock %}

{% block style %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'products/css/list_products.css' %}" />
{% endblock %}

{% block page_name %}
<div class="w-100 d-flex justify-content-center">
    <a class="navbar-brand mx-auto" href="#">list of products</a>
</div>
{% endblock %}

{% block content %}
<div class="content-container p-3">
    <form class="search-form">
        <div class="row g-3">
            {% csrf_token %}

            <div class="col-md-4">
                <div class="mb-3">
                    {{ filter.form.name|as_crispy_field }}
                </div>
                <div class="mb-3">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    {{ filter.form.sku|as_crispy_field }}
                </div>
                <div class="mb-3">
                </div>
            </div>
            <div class="col-md-4">
                {{ filter.form.supplier|as_crispy_field }}
                {{ filter.form.category|as_crispy_field }}
                <div class="col-md-12 d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#categoryModal">
                        Manage categories
                    </button>
                    <button type="submit" class="btn btn-primary ms-auto">
                        <i class="bi bi-search"></i> Find
                    </button>
                </div>
            </div>
        </div>
        <div class="row mt-2" >
        </div>
    </form>
    <div class="mb-3">
        <div class="d-flex align-items-center">
            <a href="{% url 'products:create_product' %}" class="btn btn-primary me-3">
                <i class="bi bi-plus"></i>
                Add
            </a>
            <p class="mb-0">
                Total positions: {{ filtered_count }}
            </p>
        </div>
    </div>
    <div>
        {% for product in products %}
        <a href="{% url 'products:detail_product' pk=product.id %}" style="text-decoration: none; color: inherit;">
            <div class="invoice-card">
                <div class="payment-status">
                    <i class="bi bi-box"></i>
                    {% if product.processing_quantity > 0 %}
                        {{ product.in_storage_quantity }} (+{{ product.processing_quantity }})
                    {% else %}
                        {{ product.in_storage_quantity }}
                    {% endif %}
                </div>
                <div class="product-header">
                    {% if product.picture_thumbnail %}
                        <img src="{{ product.picture_thumbnail.url }}" alt="{{ product.name }}" class="product-image">
                    {% else %}
                        <div class="no-image">No Image</div>
                    {% endif %}
                    <h5 class="product-name">
                        {{ product.name }}
                    </h5>
                </div>
                <p class="mb-1">
                    <i class="bi bi-folder"></i>
                    {{ product.category }}
                </p>
                <p class="mb-1">
                    <i class="bi bi-tag"></i>
                    {{ product.sku }}
                </p>
                {% if product.in_storage_quantity < 0 %}
                    <div class="unpaid">
                        <i class="bi bi-exclamation-triangle"></i> {% translate "Negative Quantity" %}
                    </div>
                {% elif product.is_in_shortage %}
                    <div class="paid">{% translate "Shortage" %}</div>
                {% endif %}
            </div>
        </a>
        {% endfor %}
    </div>
    {% include 'products/includes/paginator.html' %}
    {% include 'products/includes/categories_modal.html' %}
</div>
{% endblock %}

{% block scripts %}
    {% include 'products/includes/filter_common_scripts.html' %}
{% endblock %}