{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Create Write Off{% endblock %}

{% block style %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'products/css/update.css' %}" />
{% endblock %}

{% block page_name %}
<div class="w-100 d-flex justify-content-center">
    <a class="navbar-brand mx-auto" href="#">Update product activity</a>
</div>
{% endblock %}

{% block content %}
<div class="content-container">
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.product|as_crispy_field }}
        {{ form.quantity|as_crispy_field }}
        <a href="{{ previous_page }}" class="btn btn-secondary me-3">Back</a>
        <button class="btn btn-primary" type="submit">Done</button>
    </form>
</div>
{% endblock %}
