.options-container {
    background-color: #444;
    border: 1px solid #555;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    color: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}
.avatar-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.avatar-container {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

.avatar-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s;
    border-radius: 50%;
}

.avatar-container:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
}

.edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 28px;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
}

.avatar-container:hover .edit-icon {
    opacity: 1;
}
