{% load i18n %}
<div class="container">
    <div class="d-flex justify-content-between mb-2">
        <h6>History of this product</h6>
        <div>
            <a href="{% url 'products:create_shipment' %}" class="btn btn-primary ms-3">
                <i class="bi bi-plus"></i>
                Order new batch
            </a>
            <a href="{% url 'products:create_write_off' %}" class="btn btn-primary ms-3">
                <i class="bi bi-plus"></i>
                Write off from storage
            </a>
        </div>
    </div>

    <div class="accordion" id="activityAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Total ({{ product.all_activities | length }})
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#activityAccordion">
                <div class="accordion-body bg-secondary bg-gradient">
                    <div class="row">
                        {% for activity in product.all_activities %}
                        <div class="col-md-12 mb-3">
                            <a
                                {% if activity.content_type == shipment_type %}
                                    href="{% url 'products:detail_shipment' pk=activity.object_id %}"
                                {% elif activity.content_type == write_off_type %}
                                    href="{% url 'products:detail_write_off' pk=activity.object_id %}"
                                {% endif %}
                            class="text-decoration-none text-reset">
                                <div class="invoice-card">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <div class="d-flex align-items-center mb-2">
                                                <i class="bi bi-truck fs-5 me-2"></i>
                                                <span class="fs-6 d-flex">
                                                    {% if activity.content_type == shipment_type %}
                                                    <h6 class="text-success">Supplied</h6>
                                                    <i class="ms-1 bi bi-arrow-up"></i>
                                                    {% elif activity.content_type == write_off_type %}
                                                    <h6 class="text-danger">Write offed</h6>
                                                    <i class="ms-1 bi bi-arrow-down"></i>
                                                    {% endif %}
                                                    <h6 class="ms-1"> {{ activity.quantity }} units</h6>

                                                </span>
                                            </div>
                                            <p class="mb-1">
                                            </p>
                                            <p class="mb-0 text-secondary">
                                                <strong>Created:</strong> {{ activity.created|date:"Y-m-d H:i" }}
                                            </p>
                                        </div>
                                        <div>
                                            <i class="bi bi-chevron-right fs-4"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% empty %}
                        <div class="col-md-12">
                            <p class="text-center mb-0">No history yet.</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
